.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #535054;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 3rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
#reload{
  margin:50px;
  padding:10px 20px 10px 20px;
  border:none;
  font-size:2rem;
  border-radius: 0.5;
  cursor: pointer;
  color:#329da8;
}
#reload:hover{
color:aliceblue;
background-color: #329da8;
transition: 0.5s;
}

